# Ignore build files and CMake cache
/out/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/*.log

# Ignore Visual Studio files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sdf
*.db

# Ignore Windows thumbnail cache
Thumbs.db

# Ignore MacOS Finder metadata
.DS_Store

# Ignore IDE specific files
.idea/

# Ignore compiled binaries
*.exe
*.out
*.app
*.dll
*.pdb
*.lib
*.a